@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background: url('assets/retro_gaming_room-wallpaper-1366x768.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  overflow-y: hidden;
}

.login-header {
  color: black;
  font-family: "Press Start 2P";
  font-size: 30px;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #242424;
} */